[submodule "odoomates/odooapps"]
	path = odoomates/odooapps
	url = git@github.com:odoomates/odooapps.git
	branch = 12.0

[submodule "akretion/odoo-usability"]
	path = akretion/odoo-usability
	url = git@github.com:akretion/odoo-usability.git
	branch = 12.0

[submodule "shopinvader/odoo-shopinvader"]
	path = shopinvader/odoo-shopinvader
	url = git@github.com:shopinvader/odoo-shopinvader.git
	branch = 12.0

[submodule "akretion/account-move-import"]
	path = akretion/account-move-import
	url = git@github.com:akretion/account-move-import.git
	branch = 12.0
